@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}



body{
    background-image: url(./images/背景和紙.jpg);
}

section{
    padding-top: 180px;
    width: 80%;
    margin: 0 auto;
}

header{
    width: 100%;
    height:100vh;
    background-image: url(./images/背景和紙.jpg);
    position: relative;
}
.mainvisual .image_box{
    width: 450px;
    height: 400px;
    position: absolute;
    bottom: 15%;
    left: 65%;  
}
.mainvisual .image_box img{
    width: 100%;
    height: 100%;
    opacity: 0.5;  
}

.mainvisual .text_box{
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 2;
    text-align: center;
    text-shadow: 0px 20px 8px rgba(183, 106, 106, 0.4);
}
.mainvisual .text_box h1{
    color:brown;
    font-size: 100px;    
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-family: 'Yomogi', cursive;
}
nav{
    position: absolute;
    bottom: 0%;
    left: 22%;
    border-radius: 50px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ol{
    display: flex;
}
nav ol li{
    list-style-type: none;
    margin-left: 40px;
    margin-bottom: 20px;
    transition:box-shadow 0.3s, transform 0.3s;
  
}
nav ol li:hover{
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
    transform:translate(0, -2px);
    
}
nav ol li a{
    text-decoration: none;
    font-size: 32px;
    color: brown;
    font-weight: bold;
    font-family: 'Yomogi', cursive; 
    margin: 10px;
}

/* ごあいさつ about */
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    font-size: 48px;
    position: relative;
    padding: 5px 5px;
}
h2:before,
h2:after {
  position: absolute;
  left: 30%;
  width: 40%;
  height: 4px;
  content: '';
  background-image: -webkit-linear-gradient(315deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
  background-image: linear-gradient(135deg, #704308 0%, #ffce08 40%, #e1ce08 60%, #704308 100%);
}

h2:before {
  top:0;
}

h2:after {
  bottom: 0;
}
#about p,
#work .content,
#contact form{
    padding-top: 80px;
}
/* 作品集 work */
#work h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-weight: bold;
    font-family: 'Yomogi', cursive;
    font-size: 48px;
}
.content{
    display: flex;
    justify-content: center;
}
.image_box{
    width: 250px;
    height: 193px;
}
.image_box:nth-child(2){
    margin: 0 5px;
}
#work .image_box img{
    width: 100%;
    background-size: cover;
    filter:saturate(0);
    transition:filter 0.3s;
}
#work .image_box:hover img{
    filter:saturate(100%);
} 

/*  */
/*==================================================
スライダーのためのcss
===================================*/
#work .slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:94%;
    margin:20vh auto;

}

#work .slider img {
    width:40vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:50vh;
    object-fit: cover;
}

.slider .slick-slide {
  transform: scale(0.8);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*画像の横幅を100%にしてレスポンシブ化*/
img{
    width: 100%;
    height: auto;
    vertical-align: bottom;/*画像の下にできる余白を削除*/
  }
  
  /*メイン画像下に余白をつける*/
  
  .gallery{
    margin:0 0 5px 0;
  }
  
  /*矢印の設定*/
  
  /*戻る、次へ矢印の位置*/
  .slick-prev, 
  .slick-next {
      position: absolute;/*絶対配置にする*/
    z-index: 3;
      top: 42%;
      cursor: pointer;/*マウスカーソルを指マークに*/
      outline: none;/*クリックをしたら出てくる枠線を消す*/
      border-top: 2px solid #ccc;/*矢印の色*/
      border-right: 2px solid #ccc;/*矢印の色*/
      height: 25px;
      width: 25px;
  }
  
  .slick-prev {/*戻る矢印の位置と形状*/
      left:2.5%;
      transform: rotate(-135deg);
  }
  
  .slick-next {/*次へ矢印の位置と形状*/
      right:2.5%;
      transform: rotate(45deg);
  }
  
  /*選択するサムネイル画像の設定*/
  
  .choice-btn li{
    cursor: pointer;
    outline: none;
    background:#333;
    width:25%!important;
  }
  
  .choice-btn li img{
    opacity: 0.4;/*選択されていないものは透過40%*/
  }
  
  .choice-btn li.slick-current img{
    opacity: 1;/*選択されているものは透過しない*/
  }
  
  .choice-btn .slick-track {
    transform: unset !important;/*画面幅サイズ変更に伴うサムネイル固定*/
  }
  
  /*========= レイアウトのためのCSS ===============*/
  
  /*エリア全体を中央寄せ*/
  .wrapper{
    width:94%;
    max-width:900px;
    margin:0 auto;
  }
  
  ul{
    margin:0;
    padding: 0;
    list-style: none;
  }
  
  a{
    color: #333;
  }
  
  a:hover,
  a:active{
    text-decoration: none;
  }
  
  h1{
    text-align: center;
    font-size:6vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin:30px 0;
  }
  
  p{
    margin:30px 0;
    word-wrap : break-word;
  }
  
/*========= レイアウトのためのCSS ===============*/

body{
  background:#eee;
}

h2,p {
    text-align:center;
    padding:20px;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}
/*  */






/* お問合せ contact */
#contact form{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 150px;
}

#contact h2{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    color: brown;
    font-family: 'Yomogi', cursive; 
}
 
#contact ul{
    display: flex;
    flex-direction: column;
}

#contact li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    color: brown;
    font-family: 'Yomogi', cursive; 
    font-weight: bold;
}
.submit_button{
    text-align: center;
}
input,
textarea{
    font-size: 24px;
    border: 1px solid antiquewhite;
}
.submit{
    background-color:antiquewhite;
    color: brown;
    font-family: 'Yomogi', cursive; 
    font-weight: bold;
    display: inline-block;
    padding: 6px 60px;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.1em;
    border-radius: 80px;
    box-shadow: 0px 0px 16px 1px brown(0, 0, 0,0.6 );
    cursor: pointer;
    border:5px solid white;
}

footer{
    background-color: rgb(246, 242, 238);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}